@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

html {
  width: 100%;
  box-sizing: border-box;
  color: white;
  background-color: var(--black);
  font-family: PT Sans, sans-serif;
}

body {
  width: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

:root {
  --black: #272a31;
  --yellow: #f5c518;
  --white: #fff;
  --font: 'PT Sans', sans-serif;
}

header {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10em;
  font-weight: 700;
  justify-content: space-around;
  margin:
    0.5em
    0;
  background-color: #000;
}

.nav-links {
  display: flex;
  flex-direction: row;
  list-style: none;
  gap: 5em;
}

.nav-links a {
  text-decoration: none;
  color: var(--white);
  font-size: 25px;
}

#displayItems {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 1vh 10vw 5vh 10vw;
}

.showItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 8vh 4vw;
}

.showItem > img {
  border-radius: 6px;
}

.showItem > button {
  border: none;
  background-color: var(--yellow);
  border-radius: 10px;
  text-decoration: none;
  font-weight: bold;
  color: #000;
  cursor: pointer;
  padding: 5px 10px;
  margin: 5px;
  width: 80%;
  text-align: center;
}

.showItem > button:hover {
  outline: 0;
  background: #f4e603;
  box-shadow: 1px 1px 0 0, 2px 2px 0 0, 3px 3px 0 0, 4px 4px 0 0, 5px 5px 0 0;
}

.showInfo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 10px 0;
}

.showInfo > p {
  inline-size: 150px;
  overflow-wrap: break-word;
  font-size: large;
}

.showLikes {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.btnLike {
  border: none;
  background: none;
  text-decoration: none;
  font-size: 22px;
  color: grey;
  cursor: pointer;
}

.btnLike:

/* footer style */
footer {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 2vh 3vw;
  border: 2px solid rgb(24, 22, 22);
  background-color: var(--black);
}
